footer {
    display: flex;
    background-color: var(--text-destaque);
    color: white;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem;
    padding-bottom: 1rem;
    gap: 1rem;

    & .container {
        max-width: 1200px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        & img[src*="logo"] {
            width: 200px;
        }

        & .links {
            display: flex;
            gap: 3rem;

            & ul {
                display: flex;
                gap: .3rem;
                flex-direction: column;
                margin-left: 1rem;

                & li {
                    list-style: none;

                }
            }
        }

        & .redes {
            display: flex;
            gap: 1rem;
            align-items: center;
            padding-top: 1rem;

            &>img {
                width: 35px;
            }
        }
    }

    & hr {
        border: solid 1px rgb(249, 255, 248);
        width: 80%;
    }

    & .termos {
        text-align: center;
        padding: 0 1rem;
    }
}


@media (max-width: 1000px) {
    footer {

        & .container {

            flex-direction: column;
            gap: 2rem;
        }
    }
}


@media (max-width: 500px) {
    footer {
        padding: 2rem .5rem;

        & .container {

            & .links {
                display: none;
            }
        }
    }
}