.header {
    display: flex;
    justify-content: space-between;

    padding: .8rem 4rem;

    background-color: rgb(223, 233, 223);


    &>img {
        width: 65px;
    }

    & nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;


        & a {
            transition: .5s;

            &:hover {
                color: rgb(172, 248, 169);
                transform: translateY(-4px);
            }

        }
    }


    & .acoes {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 1rem;

        & :nth-child(1),
        :nth-child(2) {
            transition: .5s;

            &:hover {
                transform: translateY(-3px);
            }
        }

        & .cta {
            background-color: rgba(17, 68, 17, 0.801);
            padding: .8rem 1.2rem;
            border-radius: 10px;
            border: solid 2px green;
            transition: .5s;

            &:hover {
                background-color: rgba(15, 112, 15, 0.801);
                border: solid 2px rgba(3, 87, 3, 0.774);

            }
        }
    }
}

.language-switch {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lang-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform .2s ease;
}

.lang-btn img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
    transition: opacity .2s ease, transform .2s ease;
}

/* Efeito hover */
.lang-btn:hover img {
    transform: scale(1.1);
    opacity: 0.9;
}

/* Remover efeito de foco feio */
.lang-btn:focus {
    outline: none;
}


@media (max-width: 800px) {
    .header {
        padding: .8rem 1rem;

        & nav {
            display: none;
        }
    }
}


@media (max-width: 330px) {
    .header {
        & .acoes {

            & :nth-child(1) {
                display: none;
            }
        }
    }
}