section.parceiros {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 0;
}

/* HEADER */
section.parceiros header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.parceiros header img {
    width: 50px;
}

/* CONTAINER DE LOGOS */
section.parceiros .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    padding: 2rem 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 15.8px rgba(0, 0, 0, 0.25),
        0px -7px 17.4px rgba(0, 0, 0, 0.25),
        0px 8px 17.6px rgba(0, 0, 0, 0.25);

    flex-wrap: wrap; /* permite quebrar para várias linhas */
    min-height: 150px;
}

section.parceiros .container img {
    width: 120px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* TEXTO */
section.parceiros p {
    width: 40%;
    text-align: center;
}

/* BOTÃO */
section.parceiros a {
    background-color: rgb(23, 134, 23);
    padding: .8rem 1.2rem;
    border-radius: 10px;
    border: solid 2px rgb(47, 236, 47);
    transition: .5s;
}

section.parceiros a:hover {
    background-color: rgba(0, 105, 0, 0.801);
    border: solid 2px rgba(3, 87, 3, 0.774);
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
    section.parceiros .container img {
        width: 100px;
    }
    section.parceiros p {
        width: 60%;
    }
}

@media (max-width: 650px) {
    section.parceiros .container {
        gap: 1.5rem;
        padding: 1.5rem;
    }

    section.parceiros .container img {
        width: 90px;
    }

    section.parceiros p {
        width: 80%;
    }
}

@media (max-width: 450px) {
    section.parceiros .container img {
        width: 75px;
    }

    section.parceiros {
        padding: 3rem 0;
    }
}
