section.sobre-ecotrilhas {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--text-destaque);
    padding: 3rem;

    border-radius: 150px 0px;

    flex-direction: column;
    color: rgb(233, 255, 234);

    & > img {
        width: 180px;
        margin: -3rem;
    }

    & .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        max-width: 1200px;
        margin-inline: auto;

        &>img {
            width: 45%;
        }

        & .descricao {
            display: flex;
            flex-direction: column;
            justify-content: left;

            &>div {
                display: flex;
                gap: 1rem;
                align-items: center;
                margin-bottom: 1rem;

                & h3 {
                    font-size: 1.5rem;
                }
            }

            & p {
                margin-top: 1rem;
            }
        }
    }

    & #edital {
        padding: .8rem 1rem;
        font-weight: bolder;
        background-color: rgba(18, 124, 4, 0.507);
        border-radius: 10px;
        border: 2px solid rgb(19, 190, 19);
        transition: .5s;
        margin-top: 1rem;

        &:hover {
            border-color: rgba(18, 124, 4, 0.507);
            background-color: rgba(27, 160, 10, 0.507);
        }
    }
}



@media (max-width: 950px) {
    section.sobre-ecotrilhas {
        & .container {

            gap: 2rem;

            & .descricao {

                &>div {
                    margin-bottom: 1rem;

                    &>img {
                        width: 40px;
                    }

                    & h3 {

                        font-size: 1rem;
                    }
                }
            }
        }
    }
}



@media (max-width: 750px) {
    section.sobre-ecotrilhas {

        border-radius: 80px 0px;
        ;


        padding: 2rem;

        & .container {
            text-align: center;
            flex-direction: column-reverse;

            & img {
                width: 100%;
            }

            & .descricao {

                &>div {

                    justify-content: center;

                }
            }
        }
    }
}