section.trilhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    & header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &>img {
            width: 50px;
            padding-bottom: 1rem;
        }

        & h2 {
            font-family: 'Bebas Neue', sans-serif;
            letter-spacing: 0px;
            line-height: .9;
            color: var(--text-destaque);
            font-weight: 400;
            font-size: 2rem;
            text-align: center;
            padding-bottom: 1rem;
        }
    }

    & .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* duas colunas */
        grid-template-rows: 1fr 1fr;
        /* 3 linhas */
        grid-template-areas:
            "Rev mocambique peri"
            "Rev pocao matadeiro"
        ;
        gap: 1rem;


        & .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;

            position: relative;
            color: white;
            display: flex;
            width: 300px;
            background-size: cover;
            background-position: center;
            border-radius: 12px;
            overflow: hidden;


            & img {
                position: absolute;
                width: 100%;
            }
        }

        & .baldinhos {
            grid-area: Rev;
            background-image: url('../assets/imgs/rev-baldinhos.png');

        }

        & .mocambique {
            grid-area: mocambique;
            background-image: url('../assets/imgs/mocambique.png');
            height: 200px;


        }

        & .peri {
            grid-area: peri;
            background-image: url('../assets/imgs/peri.png');
            height: 200px;


        }

        & .pocao {
            grid-area: pocao;
            background-image: url('../assets/imgs/pocaoo.png');
            height: 200px;


        }

        & .matadeiro {
            grid-area: matadeiro;
            background-image: url('../assets/imgs/matadeiro.png');
            height: 200px;


        }
    }
}


@media (max-width: 1000px) {
    section.trilhas {
        & .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            /* 3 linhas */
            grid-template-areas:
                "Rev mocambique "
                "Rev pocao "
                "peri matadeiro"
            ;
            gap: 1rem;
        }
    }
}

@media (max-width: 670px) {
    section.trilhas {
        padding: 4rem 1rem;
        & .container {
            display: grid;
            grid-template-columns: 1fr;
            /* duas colunas */
            grid-template-rows: 5fr;
            /* 3 linhas */
            grid-template-areas:
                "Rev "
                "mocambique"
                " pocao "
                "peri "
                "matadeiro"
            ;
            gap: 1rem;

            & .card {
                width: 100%;
            }

            & .baldinhos {
                height: 200px;
            }
        }
    }
}