/* Seção */
.voluntarios-section {
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    padding: 40px 20px;
    text-align: center;
    align-items: center;

    &>img {
            width: 50px;
            padding-bottom: 1rem;
        }
}

.voluntarios-section h2 {
    width: 100%;
    font-size: 28px;
    color: #1A3C2D;
    margin-bottom: 10px;
    font-weight: 700;
}

.voluntarios-section .subtitulo {
    color: #3f5e4f;
    margin-bottom: 40px;
    font-size: 16px;
}

/* Grid */
/* Grid */
.voluntarios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* sempre 3 colunas */
    gap: 30px;
    max-width: 900px; /* define largura total */
    margin: 0 auto; /* centraliza tudo */
    justify-items: center;
    align-items: center;
}

/* Card */
.voluntarios-card {
    background: #fff;
    width: 260px;          /* largura padrão igual */
    min-height: 270px;     /* garante mesma altura */
    border-radius: 16px;
    padding: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: .3s;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.voluntarios-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 12px;
}


.voluntarios-card h3 {
    font-size: 18px;
    color: #1A3C2D;
    font-weight: 600;
    margin-bottom: 4px; 
}

.voluntarios-card .origem {                                                  
    font-size: 14px;
    font-weight: 600;
    color: #4f7b63;
    margin-bottom: 6px;
}

.voluntarios-card .funcao {                                                  
    font-size: 14px;
    font-weight: 600;
    color: #31cc77;
    margin-bottom: 6px;
}

.voluntarios-card .resumo {
    font-size: 14px;
    color: #3b5446;
    line-height: 1.35em;
}


@media (max-width: 900px) {
    .voluntarios-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .voluntarios-grid {
        grid-template-columns: 1fr;
    }
}
